@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  background-image: linear-gradient(
    to right,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  color: hsl(238, 29%, 16%);
  font-size: 0.9em;
  font-family: 'Kumbh Sans', sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  width: 1000px;
  height: 500px;
  margin: 7em auto;
  overflow: hidden;
}

#col1 {
  width: 35%;
  padding-right: 75px;
}

#col2 {
  width: 65%;
  padding: 50px 75px;
  overflow: scroll;
}

.bg {
  position: relative;
  width: 66em;
  left: -550px;
  top: -835px;
  z-index: 0;
}

.woman {
  position: relative;
  top: -7.5em;
  left: -5.5em;
  z-index: 1;
}

.box {
  position: relative;
  top: 15em;
  left: -6.5em;
  z-index: 2;
}

h1 {
  margin-bottom: 25px;
}

.accordion {
  padding: 5px 15px 5px 0px;
}

.accordion:hover {
  color: hsl(14, 88%, 65%);
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: hsl(240, 5%, 91%);
}

.arrow-down {
  float: right;
}

.panel {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}



/* Media Queries */
@media (max-width: 500px) {
  #container {
    flex-direction: column;
    width: 330px;
    height: auto;
    margin: 10em auto 5em;
    overflow: visible;
  }

  #col1 {
    width: 75%;
    height: 110px;
    overflow: visible;
  }

  #col2 {
    width: 105%;
    padding: 0px;
  }

  .mobile {
    padding: 0 25px 40px 25px;
  }
  .woman {
    width: 93%;
    left: 50px;
    top: -200px;
  }
  .box {
    width: 90px;
    left: 45px;
    top: -45px;
  }
  .bg {
    width: 17em;
    left: 45px;
    top: -415px;
  }
  h1 {
    text-align: center;
  }
}
